<h1>MyGoons Users</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>#</th>
      <th>Name</th>
      <th>Email</th>
      <th>Last Sign In At</th>
      <th class="text-center">Action</th>
    </tr>
  </thead>
  <tbody>
    <% a = 0 %>
    <% @users.each do |user| %>
      <tr>
        <td><%= a += 1 %></td>
        <td><%= user.name %></td>
        <td><%= user.email %></td>
        <td><%= user.last_sign_in_at %></td>
        <% if user.active.zero? %>
        <td class="text-center"><%= button_to "Activate", users_activate_path(id: user), class: "btn btn-success btn-sm deactivate" %></td>
        <% else %>
        <td class="text-center"><%= button_to "Deactivate", users_deactivate_path(id: user), class: "btn btn-danger btn-sm deactivate" %></td>
        <% end %>

      </tr>
  <% end %>
  </tbody>
</table>
