  <div class="row">
    <div class="col-md-3 col-md-offset-1">
      <%= image_tag current_user.image, size: "250"  %>
    </div>
    <div class="col-md-2">
      <p>
        <%= current_user["name"] %>
      </p>
      <p>
        <%= current_user["email"] %>
      </p>
      <p>
        <% if current_user.image == "_mygoons_default_profile_picture.png" %>
          <%= link_to "Upload Profile Picture", "#", data: { toggle: "modal", target: "#upload"} %>
        <% else %>
          <%= link_to "Change Profile Picture", "#", data: { toggle: "modal", target: "#upload"} %>
        <% end %>
      </p>
    </div>
  </div>

  <div class="modal fade" id="upload" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
    <div class="modal-dialog modal-sm">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title text-center">Upload Picture</h4>
        </div>
        <div class="modal-body modal-margin">
          <%= form_tag({action: :upload}, multipart: true, class: "form col-md-12 center-block") do %>
              <div class="form-group">
              <%= file_field_tag :image, class: "form-control" %>
              </div>
              <div class="form-group">
                <%= submit_tag "Upload", class: "btn btn-primary btn-block" %>
              </div>
          <% end %>
        </div>
        <div class="modal-footer no-border">
        </div>
      </div>
    </div>
  </div> 

  <div class="row">
  <div class="col-md-5 col-md-offset-1">
    <h3>Friends</h3>
    <div class="row">
      <% @friends.each do |friend| %>
        <div class="col-md-12 list-group-item">
          <div class="col-md-5 mt-25">  
          <%= friend.name %>
          </div>
          <div class="col-md-offset-9">
          <%= image_tag friend.image, size: "80" %> 
          </div>
        </div>
      <% end %>
    </div>
    <h3>You may also know...</h3>
    <div class="row">
      <% @suggested_friends.each do |suggested_friend| %>
        <% unless current_user.senders.include?(suggested_friend) %>
        <div class="col-md-12 list-group-item">
          <div class="col-md-4 mt-25">
            <%= suggested_friend.name %>
          </div>
          <div class="col-md-4">
          <%= image_tag suggested_friend.image, size: "80" %> 
          </div>
          <div class="col-md-4 mt-25">
            <!-- <span class="text-primary">Sent you a request</span> -->
            <% if suggested_friend.senders.include?(current_user) %>
            <span class="text-primary">Request Sent!</span>
            <% else %>
            <%= button_to "Add friend", friend_requests_initiate_path(potential_friend_id: suggested_friend), remote: true, class: "btn btn-primary btn-xs add-friend" %>
            <% end %>
          </div>
        </div>
      <% end %>
      <% end %>
    </div>
  </div>

  <div class="col-md-4 col-md-offset-1">
    <% if current_user.friend_requests.unaccepted.present? %>
      <h3>Friend Requests</h3>
      <div class="row">
        <div class="col-md-12 list-group-item">
        <% current_user.friend_requests.unaccepted.each do |request| %>
          <% if request.accepted == 0 %>
            <div class="col-md-4 mt-25">
              <%= request.sender.name %>
            </div>
            <div class="col-md-4">
          <%= image_tag request.sender.image, size: "80" %> 
          </div>
            <div class="col-md-offset-4 mt-25">
              <%= button_to "Accept Request", friend_requests_accept_path(sender_id: request.sender), remote: true, class: "btn btn-primary btn-xs accept-request" %>
            </div>
          <% end %>
        <% end %>      
        </div>
      </div>
    <% end %>
  </div>
  </div>
