<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-2">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to "MyGoons", '/', class: "navbar-brand" %>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-2">
      <% if user_signed_in? && controller_name == "users" %>
      <ul class="nav navbar-nav">
        <li><%= link_to "", "javascript:void(0)", class: "fa fa-user-plus", data: { toggle: "modal", target: "#invite"} %></li>
      </ul>
      <% end %>

      <ul class="nav navbar-nav navbar-right">
        <% if user_signed_in? && controller_name == "users" %>
        <li><%= link_to "#{current_user.name} (#{current_user.email})", "#" %></li>
        <li><%= link_to "Log out", destroy_user_session_path, method: :delete %></li>
        <% elsif admin_signed_in? && controller_name == "admins" %>
        <li><a>Admin</a></li>
        <li><%= link_to "Log out", destroy_admin_session_path, method: :delete %></li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>
